@using System.Globalization
@{
    var culture = CultureInfo.CurrentCulture.Name;
    var dirCss = CultureInfo.CurrentCulture.TextInfo.IsRightToLeft ? "rtl" : "ltr";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorFolk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteMain.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">SeniorFolk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">

                    <partial></partial>
                    <language-nav cookie-handler-url="@Url.Page("/Index", "SetCultureCookie", new { area="", cltr="{0}", returnUrl="{1}" })"></language-nav>

                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Explore</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveVolunteers">Voluntary</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Content">Content</a>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/CSurvey">Feedback</a>
                        </li>

                        <li class="btn-group nav ml-auto">
                        </li>

                        <li class="btn-group nav ml-auto">

                            <div>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Help">Help</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Account
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveFriends">Friends</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveGroup">Groups</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateGroup">Create Group</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrievePreference">Preference</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreatePreference">Create Preference</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateReportUser">Create User Report</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateReportGroup">Create Group Report</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Account
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>

                                <a class="nav-link text-dark" asp-area="" asp-page="/CTracker">Fitness Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/VTracker">View Fitness Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CHealth">Health Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/VHealth">View Health Log</a>
                                <a class="nav-link text-dark" asp-page="Login" asp-page-handler="Logout">Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SeniorFolk - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
