<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SeniorFolk</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/siteMain.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/AdminHome">SeniorFolk</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Voluntary
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="nav-link text-dark" asp-area="" asp-page="/CreateVolunteer">Create</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveVolunteerAdmin">Read</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveApplication">View Application</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveAccounts">View Users</a>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Drop down
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <a class="dropdown-item" href="#">Action</a>
                                <a class="dropdown-item" href="#">Another action</a>
                                <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                        </li>
                        <li>
                            <a class="nav-link text-dark" asp-area="" asp-page="/VSurvey">View Feedback</a>
                        </li>

                        <li class="btn-group nav ml-auto">

                            <div>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveHelp">Requests</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Friends
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveFriendsReport">User Reports</a>

                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveGroupAdmin">Group Lists</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrieveGroupReport">Group Reports</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/RetrievePreferenceAdmin">Preference List</a>
                            </div>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                                Account
                            </a>
                            <div class="dropdown-menu">
                                <a class="nav-link text-dark" asp-area="" asp-page="/Register">Register</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>

                                <a class="nav-link text-dark" asp-area="" asp-page="/CTracker">Fitness Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/VTracker">View Fitness Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/CHealth">Health Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/VHealth">View Health Log</a>
                                <a class="nav-link text-dark" asp-area="" asp-page="/Login">Logout</a>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - SeniorFolk - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
