@page
@model Seniorfolk.Pages.CreateReportUserModel
@{
}

@{
    ViewData["Title"] = "Report User";
}


<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Report User</h3>
                        <form method="post">

                            <div><label class="text-danger">@Model.AlertMessage</label></div>
                            <div asp-validation-summary="All" class="text-danger"></div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label">User ID:</label>
                                        <input asp-for="ReportUser.UserId" class="form-control form-control-lg" />
                                        <span asp-validation-for="ReportUser.UserId" class="text-danger"></span>
                                    </div>

                                </div>

                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">

                                    <div class="form-outline">
                                        <label class="form-label">User ID:</label>
                                        <input asp-for="ReportUser.ReportedUserid" class="form-control form-control-lg" />
                                        <span asp-validation-for="ReportUser.ReportedUserid" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4 d-flex align-items-center">

                                    <div class="form-outline">
                                        <label class="form-label">Report Reasons:</label>
                                        <input asp-for="ReportUser.ReportUserReason" class="form-control form-control-lg" />
                                        <span asp-validation-for="ReportUser.ReportUserReason" class="text-danger"></span>
                                    </div>

                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input id="create" type="submit" value="Create" class="btn btn-primary" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
