@page
@model Seniorfolk.Pages.ETrackerModel
@{
    ViewData["Title"] = "Edit";
}

<style>
    textarea {
        width: 249px;
        height: 80px;
    }
</style>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Fitness Log</h3>
                        <form method="post">

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">ID:</label>
                                        <input asp-for="MyTracker.Idtracker" class="form-control form-control-lg" />
                                        <span asp-validation-for="MyTracker.Idtracker" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">Title:</label>
                                        <input asp-for="MyTracker.WorkoutTitle" class="form-control form-control-lg" />
                                        <span asp-validation-for="MyTracker.WorkoutTitle" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">Start Time:</label>
                                        <input asp-for="MyTracker.StartTime" class="form-control form-control-lg" />
                                        <span asp-validation-for="MyTracker.StartTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">End Time:</label>
                                        <input asp-for="MyTracker.EndTime" class="form-control form-control-lg" />
                                        <span asp-validation-for="MyTracker.EndTime" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">Activity:</label>
                                        <textarea asp-for="MyTracker.Activities" class="form-control form-control-lg">hello</textarea>
                                        <span asp-validation-for="MyTracker.Activities" class="text-danger"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                    <div class="form-outline">
                                        <label class="form-label">Remarks:</label>
                                        <input asp-for="MyTracker.Remarks" class="form-control form-control-lg" />
                                    </div>
                                </div>
                            </div>

                            <div class="d-flex justify-content-center">
                                <input id="ELog" type="submit" value="Edit" class="btn btn-primary" />
                            </div>

                        </form>
                        @section Scripts {
                            @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>